<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons > -->
    <div class="plusClass" slot="end">
      <ion-icon name="menu" expand="icon-only" color="light" (click)="presentActionSheet()"> </ion-icon>
    </div>
    <!-- </ion-buttons> -->
    <ion-title color="light">
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <!-- <content> -->
  <ion-list  no-padding>
    <ion-item *ngFor = "let chat of arrayChats" (click)="openChat(chat)">
      <ion-avatar class="chatImage" slot="start">
        <ion-img src="{{chat.img}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2 color="light">{{chat.name}}</h2>
            <ion-avatar class="chatCount"></ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end" color="primary"></ion-text>
          </div>
        </div>
        <p class="widthHalf">{{chat.description}}</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="openChat(chat)">
        <ion-avatar class="chatImage" slot="start">
            <ion-img src=""></ion-img>
          </ion-avatar>
          <ion-label>
            <div class="withcount">
              <div class="nameAvatar">
                <h2 color="light">Chat Vicrieel</h2>
                <ion-avatar class="chatCount"></ion-avatar>
              </div>
    
              <div class="timeEnd">
                <ion-text slot="end" color="primary"></ion-text>
              </div>
            </div>
            <p class="widthHalf">Chat privado de los vecinos</p>
          </ion-label>
    </ion-item>

  </ion-list>
  <!-- </content> -->
</ion-content>
