

<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-button>
            <ion-back-button defaultHref="/guardia"></ion-back-button>
        </ion-button>
      </ion-buttons>
    <ion-title>Lista de Invitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-grid class="ion-padding" *ngFor= "let invitado of arrayInvitados">
      <ion-row class="align-items-center" class="ion-justify-content-center ion-align-self-stretch" style="box-shadow: 2px 2px 4px 1px rgba(10,20,32,0.1)">
        <ion-col size="3" class="">
            <img class="icon" src="../../assets/images/avatar.svg" alt="">
        </ion-col>
  
        <ion-col class="ion-align-items-end" size="4">
            <h6>{{invitado.name}}</h6>
            <h6>Numero de visitas: {{invitado.numeroVisitas}}</h6>
        </ion-col>

        <ion-button (click)="editarInvitado(invitado)" color="ligth" float-right>
            <ion-icon color="danger" name="clipboard"></ion-icon>   
          </ion-button>
  
      </ion-row>
    </ion-grid>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>