

<ion-header>
    <ion-toolbar>
        <ion-buttons>
          <ion-button>
              <ion-back-button defaultHref="/menu/home"></ion-back-button>
          </ion-button>
        </ion-buttons>
      <ion-title>Lista de Residentes</ion-title>
    </ion-toolbar>
</ion-header>

<!--
<ion-content>
  <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" 
              type="item-text-wrap" ><!-- href="#/tab/chats/{{chat.id}}" -->
      <!-- <img ng-src="{{chat.face}}"> 
      <h2>{{listaDelGuardia[0].name}}</h2>
      <p>{{listaDelGuardia[0].rol}}</p>
      <p>{{listaDelGuardia[0].uid}}</p> 
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" 
              type="item-text-wrap" ><!-- href="#/tab/chats/{{chat.id}}" -->
      <!-- <img ng-src="{{chat.face}}"> 
      <h2>{{listaDelGuardia[1].name}}</h2>
      <p>{{listaDelGuardia[1].rol}}</p>
      <h3>{{listaDelGuardia[1].uid}}</h3> 
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>
</ion-content>
-->
  
  <ion-content>
  
    <ion-card *ngFor= "let residente of listaDelGuardia">
      <ion-card-content>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-item>
          <div class="d-block">
            <h3>{{residente.name}}</h3>
            <label for="">{{residente.rol}}</label>
            <label for="">{{residente.uid}}</label>
          </div>
        </ion-item>
        <ion-label>{{residente.name}}</ion-label>
        <ion-button color="ligth" float-right>
            <ion-icon color="danger" name="close"></ion-icon>   
          </ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="listaInvitadoPorResidente()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  