
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons>
          <ion-button>
              <ion-back-button defaultHref="/tutorial"></ion-back-button>
          </ion-button>
        </ion-buttons>
     
     <div class="plusClass" slot="end">
      <ion-icon name="menu" expand="icon-only" color="light" (click)="presentActionSheet()"> </ion-icon>
    </div>
     
    <ion-title ([ngModel])="name" color="light">
      Vicrieel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
      <ion-card-header>
          <img class="icon" src="../../assets/images/avatar.svg">
          <ion-card-title class="ion-bold ion-text-center marginTop">{{ name }}</ion-card-title>

      </ion-card-header>
        
  </ion-card>

  <ion-card >
    
      <ion-card-title class="ion-bold ion-text-center marginTop"></ion-card-title>
      <div class="classVisitas marginTop">
        <h1 class="ion-text-center" color="primary" ([ngModel])="numVisitas">{{ numVisitas }} visitas a Vicrieel</h1>
        <!-- <ion-icon routerLink="listainvitados" class="bigger" src="assets/icon/visitante.svg"></ion-icon> -->
        
      </div>
    
  </ion-card>
<div *ngFor="let notificaiones of notificaiones">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf= "notificaiones.estado == true">
    <ion-fab-button (click)="redirectIngresarCiudadela()">{{mostrarNotificacion}}</ion-fab-button>
  </ion-fab>
</div>
</ion-content>




