.mapa-urbanizacion{
    background-image: url("../../assets/images/mapaIlustrado.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: -webkit-fill-available;
    // height: auto;
}

.club{
    position: absolute;
    width: 17vw;
    height: 17vw;
    
    margin: 5rem 0 0 5rem;
    cursor: pointer;
}

.Parque{
    position: absolute;
    width: 17vw;
    height: 17vw;
    margin: 12rem 0 0 16rem;
    cursor: pointer;
}

.Complejo{
    position: absolute;
    width: 17vw;
    height: 17vw;
    
    
    margin: 21em 0 0 6rem;
    cursor: pointer;
}

.ingresarAreas{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#mostrarQRClub{
    position: absolute;
    left: calc(57% - 50%);
    top: calc(35% - 20%);
    width: 20rem;
    height: 20rem;
    box-shadow: inset 0px 0px 4px #848484;
    border-radius: 50%;
    background-color: #0090cf;
    text-align: center;
}

#mostrarQRComplejo{
    position: absolute;
    left: calc(57% - 50%);
    top: calc(35% - 20%);
    width: 20rem;
    height: 20rem;
    box-shadow: inset 0px 0px 4px #848484;
    border-radius: 50%;
    background-color: #0090cf;
    text-align: center;
}

#mostrarQRParque{
    position: absolute;
    left: calc(57% - 50%);
    top: calc(35% - 20%);
    width: 20rem;
    height: 20rem;
    box-shadow: inset 0px 0px 4px #848484;
    border-radius: 50%;
    background-color: #0090cf;
    text-align: center;
}

#mostrarQRClub h1, #mostrarQRParque h1, #mostrarQRComplejo h1 {
    color: #ffffff;

}