
<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
     </ion-buttons>
     
     <div class="plusClass" slot="end">
      <ion-icon name="menu" expand="icon-only" color="light" (click)="presentActionSheet()"> </ion-icon>
    </div>
     
    <ion-title ([ngModel])="name" color="light">
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card >
    <ion-card-header>
        <img class="icon" src="../../assets/images/avatar.svg">
        <ion-card-title class="ion-bold ion-text-center marginTop">{{name}}</ion-card-title>
        <ion-card-subtitle class="ion-text-center marginTop marginBottom"> Mz O villa 1</ion-card-subtitle>

    </ion-card-header>
    
    
</ion-card>

<ion-card >

  
      <ion-card-title class="ion-bold ion-text-center marginTop">Lista de invitados actual</ion-card-title>
      <div class="classVisitas marginTop">
        <h1 color="primary" ([ngModel])="numeroInvitadosTotal">{{numeroInvitadosTotal}}</h1>
        <ion-icon routerLink="listainvitados" class="bigger" src="assets/icon/visitante.svg"></ion-icon>
        
      </div>
      <ion-card-subtitle class="marginTop marginBottom">Ingresados 3</ion-card-subtitle>
  
  
  
</ion-card>
    
    
</ion-content>



