
<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
     </ion-buttons>
     
     <div class="plusClass" slot="end">
      <ion-icon name="menu" expand="icon-only" color="light" (click)="presentActionSheet()"> </ion-icon>
    </div>
     
    <ion-title color="light">
      ARXAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img class="imgLogo" src="../../assets/images/logoArxapp.png"></ion-img>
    <ion-button routerLink="listainvitados" color="primary"> Invitar </ion-button>
</ion-content>

<ion-footer> 
  <p>Soy el footer</p> 

</ion-footer>

