<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrarse</ion-title>
    
      <ion-buttons slot="start" >
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="logoImg" src="assets/images/logoArxapp.png" alt="">

  <ion-item class="seleccionStyle">
    <ion-label>Tipo de usuario</ion-label>
    <ion-select  [(ngModel)]="seleccion" cancelText="Cancelar" (ngModelChange)="selectValue(seleccion)" placeholder="Sleleccionar un tipo de usuario">
      <ion-select-option value="residente">Residente</ion-select-option>
      <ion-select-option value="visitante">Visitatne</ion-select-option>
      <ion-select-option value="guardia">Guardia</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>

      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="name" [(ngModel)] = 'name'></ion-input>
  
  </ion-item>


<ion-item>

    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" name="email" [(ngModel)] = 'email'></ion-input>

</ion-item>

<ion-item>
    <ion-label position="floating">Clave</ion-label>
    <ion-input type="password" [(ngModel)] ="password" ></ion-input>

</ion-item>
<br>
<ion-button  expand="block" (click)="onSubmitRegister()">Registrarse</ion-button>

</ion-content>